<h2> Pictures older than a month</h2>

<p>
  <%= link_to("Back", "/pictures") %>
</p>

<ul>
  <% @month_old.each do |picture| %>
    <li>
    <%= render 'show_picture', picture: picture %>
    </li>
  <% end %>
</ul>
